@import "app-variables";

.news-section {
  width: 100%;
  min-height: 100vh;
  padding-top: 82px;
  background-color: #edeff1;

  ul p {
    width: 288px;
  }

  button {
    width: 179px;
    background-color: #ffffff;
    color: #4e5159;
    font-family: $Roboto-Font;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;

    &:hover {
      background-color: #dd4b2b;
      color: #ffffff;
    }
  }
}

.news-section-title {
  margin-bottom: 84px;
  color: #31353e;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  font-family: $Roboto-Slab-Font;
}

.news-title {
  margin: 39px auto 0;
  color: #31353e;
  line-height: 30px;
  font-size: 24px;
  font-weight: 700;
  font-family: $Roboto-Slab-Font;
}

.news-description {
  margin: 10px auto 39px;
  color: #31353e;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  font-family: $Roboto-Font;
}

