.site-footer {
  width: 100%;
  padding: 100px 0;
  background-color: #d75d0e;

  ul {
    margin: 0 auto;

    li {
      font-size: 18px;
      font-weight: 400;
      line-height: 36px;
      font-family: $Roboto-Font;
    }

    a {
      text-decoration: none;
      color: #ffffff;
    }
  }
}

