.header .row {
  height: 100px;
}

.header {
  position: fixed;
  background-color: #edeff1;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;

  nav  {
    width: 52px;

    a {
      margin: 0 25px;
      color: #31353e;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;

      &:hover {
        height: 49px;
        border-radius: 25px;
        background-color: #dd4b2b;
        color: #ffffff;
        text-align: center;
        padding: 12px 10px;
        box-sizing: border-box;
        text-decoration: none;
      }
    }
  }
}

