/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_app-header.scss */
.header .row {
  height: 100px;
}

/* line 5, ../sass/_app-header.scss */
.header {
  position: fixed;
  background-color: #edeff1;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
}
/* line 12, ../sass/_app-header.scss */
.header nav {
  width: 52px;
}
/* line 15, ../sass/_app-header.scss */
.header nav a {
  margin: 0 25px;
  color: #31353e;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
/* line 22, ../sass/_app-header.scss */
.header nav a:hover {
  height: 49px;
  border-radius: 25px;
  background-color: #dd4b2b;
  color: #ffffff;
  text-align: center;
  padding: 12px 10px;
  box-sizing: border-box;
  text-decoration: none;
}

/* line 1, ../sass/_app-welcome-section.scss */
.welcome-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-top: 80px;
  overflow: hidden;
}
/* line 8, ../sass/_app-welcome-section.scss */
.welcome-section header {
  margin-top: 300px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  color: #ffffff;
  line-height: 48px;
}
/* line 14, ../sass/_app-welcome-section.scss */
.welcome-section header h1 {
  font-size: 72px;
  font-weight: 300;
}
/* line 19, ../sass/_app-welcome-section.scss */
.welcome-section header p {
  font-size: 30px;
  font-weight: 700;
}
/* line 25, ../sass/_app-welcome-section.scss */
.welcome-section ul {
  margin: 130px 0 80px;
}
/* line 28, ../sass/_app-welcome-section.scss */
.welcome-section ul h2 {
  margin-top: 35px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}
/* line 36, ../sass/_app-welcome-section.scss */
.welcome-section ul p {
  margin-top: 29px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}
/* line 44, ../sass/_app-welcome-section.scss */
.welcome-section footer {
  margin-bottom: 40px;
}

/* line 49, ../sass/_app-welcome-section.scss */
.welcome-image {
  position: absolute;
  width: 100%;
  height: auto;
}

/* line 1, ../sass/_app-news-section.scss */
.news-section {
  width: 100%;
  min-height: 100vh;
  padding-top: 82px;
  background-color: #edeff1;
}
/* line 7, ../sass/_app-news-section.scss */
.news-section ul p {
  width: 288px;
}

/* line 12, ../sass/_app-news-section.scss */
.news-section-title {
  margin-bottom: 84px;
  color: #31353e;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}

/* line 20, ../sass/_app-news-section.scss */
.news-title {
  margin: 39px auto 0;
  color: #31353e;
  line-height: 30px;
  font-size: 24px;
  font-weight: 700;
}

/* line 28, ../sass/_app-news-section.scss */
.news-description {
  margin: 0 auto 39px;
  color: #31353e;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}

/* line 1, ../sass/_app-flex.scss */
.row-flex-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 7, ../sass/_app-flex.scss */
.content-alignment {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* line 1, ../sass/_app-container-custom-width.scss */
.container-custom-width {
  width: 1200px;
}

/* line 1, ../sass/_app-buttons.scss */
.link-button {
  border-radius: 27px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #ffffff;
}
