@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/components/_app-button-component.scss */
.button-comp {
  height: 54px;
  border-radius: 27px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
/* line 6, ../sass/components/_app-button-component.scss */
.button-comp:hover {
  cursor: pointer;
  text-decoration: none;
  border: none;
}

/* line 3, ../sass/components/_app-title-component.scss */
.title-comp {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  font-family: "Roboto Slab", "Garamond", "Georgia", "New York", "Times", serif;
}

/* line 3, ../sass/components/_app-main-text-comp.scss */
.main-text-comp {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  font-family: "Roboto", "Arial", "Helvetica", "Verdana", sans-serif;
}

/* line 3, ../sass/_app-header.scss */
.header .row {
  height: 100px;
}

/* line 7, ../sass/_app-header.scss */
.header {
  position: fixed;
  background-color: #edeff1;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
}
/* line 14, ../sass/_app-header.scss */
.header nav {
  width: 52px;
}
/* line 17, ../sass/_app-header.scss */
.header nav a {
  margin: 0 25px;
  color: #31353e;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: "Roboto Slab", "Garamond", "Georgia", "New York", "Times", serif;
}
/* line 25, ../sass/_app-header.scss */
.header nav a:hover {
  height: 49px;
  border-radius: 25px;
  background-color: #dd4b2b;
  color: #ffffff;
  text-align: center;
  padding: 12px 10px;
  box-sizing: border-box;
  text-decoration: none;
}

/* line 3, ../sass/_app-welcome-section.scss */
.welcome-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-top: 80px;
  overflow: hidden;
}
/* line 10, ../sass/_app-welcome-section.scss */
.welcome-section header {
  margin-top: 300px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  color: #ffffff;
  line-height: 48px;
  font-family: "Roboto Slab", "Garamond", "Georgia", "New York", "Times", serif;
}
/* line 17, ../sass/_app-welcome-section.scss */
.welcome-section header h1 {
  font-size: 72px;
  font-weight: 300;
}
/* line 22, ../sass/_app-welcome-section.scss */
.welcome-section header p {
  font-size: 30px;
  font-weight: 700;
}
/* line 28, ../sass/_app-welcome-section.scss */
.welcome-section ul {
  margin: 130px 0 80px;
}
/* line 31, ../sass/_app-welcome-section.scss */
.welcome-section ul h2 {
  margin-top: 35px;
  color: #ffffff;
}
/* line 36, ../sass/_app-welcome-section.scss */
.welcome-section ul p {
  margin-top: 29px;
  color: #ffffff;
}
/* line 41, ../sass/_app-welcome-section.scss */
.welcome-section footer {
  margin-bottom: 40px;
}
/* line 45, ../sass/_app-welcome-section.scss */
.welcome-section button {
  width: 213px;
  background-color: #ffffff;
  color: #612316;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Roboto Slab", "Garamond", "Georgia", "New York", "Times", serif;
}
/* line 54, ../sass/_app-welcome-section.scss */
.welcome-section button:hover {
  background-color: #dd4b2b;
  color: #ffffff;
}

/* line 61, ../sass/_app-welcome-section.scss */
.welcome-image {
  position: absolute;
  width: 100%;
  min-height: 100vh;
}

/* line 3, ../sass/_app-news-section.scss */
.news-section {
  width: 100%;
  min-height: 100vh;
  padding-top: 82px;
  background-color: #edeff1;
}
/* line 9, ../sass/_app-news-section.scss */
.news-section ul p {
  width: 288px;
}
/* line 13, ../sass/_app-news-section.scss */
.news-section button {
  width: 179px;
  background-color: #ffffff;
  color: #4e5159;
  font-family: "Roboto", "Arial", "Helvetica", "Verdana", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
}
/* line 22, ../sass/_app-news-section.scss */
.news-section button:hover {
  background-color: #dd4b2b;
  color: #ffffff;
}

/* line 29, ../sass/_app-news-section.scss */
.news-section-title {
  margin-bottom: 84px;
  color: #31353e;
}

/* line 34, ../sass/_app-news-section.scss */
.news-title {
  margin: 39px auto 0;
  color: #31353e;
  line-height: 30px;
  font-size: 24px;
  font-weight: 700;
  font-family: "Roboto Slab", "Garamond", "Georgia", "New York", "Times", serif;
}

/* line 43, ../sass/_app-news-section.scss */
.news-description {
  margin: 10px auto 39px;
  color: #31353e;
}

/* line 3, ../sass/_app-newsletter-block.scss */
.newsletter-block {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding-bottom: 88px;
}

/* line 11, ../sass/_app-newsletter-block.scss */
.section-title {
  margin-top: 40px;
  color: #ffffff;
}

/* line 16, ../sass/_app-newsletter-block.scss */
.section-title-description {
  margin: 22px auto 0;
  width: 533px;
  color: #ffffff;
}

/* line 22, ../sass/_app-newsletter-block.scss */
.newsletter-image {
  position: absolute;
  width: 100%;
  height: 300px;
}

/* line 28, ../sass/_app-newsletter-block.scss */
.sign-up-form {
  position: relative;
  margin: 43px auto 0;
  width: 509px;
  height: 54px;
  border-radius: 27px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: none;
}
/* line 37, ../sass/_app-newsletter-block.scss */
.sign-up-form input {
  outline: none;
}
/* line 40, ../sass/_app-newsletter-block.scss */
.sign-up-form input[type="email"] {
  margin: 10px 20px;
  background: none;
  border: none;
  color: #f3f4f6;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Roboto Slab", "Garamond", "Georgia", "New York", "Times", serif;
}
/* line 51, ../sass/_app-newsletter-block.scss */
.sign-up-form input::-webkit-input-placeholder {
  color: #f3f4f6;
}
/* line 56, ../sass/_app-newsletter-block.scss */
.sign-up-form button {
  position: absolute;
  right: 0;
  width: 200px;
  background-color: #ffffff;
  color: #612316;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  font-family: "Roboto Slab", "Garamond", "Georgia", "New York", "Times", serif;
  border: none;
}
/* line 68, ../sass/_app-newsletter-block.scss */
.sign-up-form button:hover {
  background-color: #dd4b2b;
  color: #ffffff;
  border: none;
}

/* line 76, ../sass/_app-newsletter-block.scss */
.sign-up-title {
  width: 500px;
  margin-top: 120px;
  color: #191b29;
}

/* line 82, ../sass/_app-newsletter-block.scss */
.sign-up-title-description {
  margin-top: 23px;
  width: 500px;
  color: #191b29;
}

/* line 88, ../sass/_app-newsletter-block.scss */
.place-for-image {
  margin-top: 120px;
  width: 200px;
  height: 405px;
  border: 1px solid #dbdbdb;
}

/* line 95, ../sass/_app-newsletter-block.scss */
.orange-button {
  margin-top: 48px;
  width: 213px;
  background-color: #dd4b2b;
  color: #ffffff;
  font-family: "Roboto Slab", "Garamond", "Georgia", "New York", "Times", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
/* line 105, ../sass/_app-newsletter-block.scss */
.orange-button:hover {
  background-color: #4b4e73;
}

/* line 110, ../sass/_app-newsletter-block.scss */
.purple-button {
  margin-top: 48px;
  width: 213px;
  background-color: #4b4e73;
  color: #ffffff;
  font-family: "Roboto Slab", "Garamond", "Georgia", "New York", "Times", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
/* line 120, ../sass/_app-newsletter-block.scss */
.purple-button:hover {
  background-color: #dd4b2b;
}

/* line 1, ../sass/_app-site-footer.scss */
.site-footer {
  width: 100%;
  padding: 100px 0;
  background-color: #d75d0e;
}
/* line 6, ../sass/_app-site-footer.scss */
.site-footer ul {
  margin: 0 auto;
}
/* line 9, ../sass/_app-site-footer.scss */
.site-footer ul li {
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  font-family: "Roboto", "Arial", "Helvetica", "Verdana", sans-serif;
}
/* line 16, ../sass/_app-site-footer.scss */
.site-footer ul a {
  text-decoration: none;
  color: #ffffff;
}

/* line 1, ../sass/_app-flex.scss */
.row-flex-end {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 1, ../sass/_app-container-custom-width.scss */
.container-custom-width {
  width: 1200px;
}
